/*
    Marvel By Alexa Theme
*/

/*  ==========================================================================
    Table of Contets
    ==========================================================================
    
    1.0 Common Styles
    2.0 Header Section
    3.0 Hero section
    3.0 About Section
    4.0 Service Section
    5.0 Skills Section
    6.0 Portfolio Section
    7.0 Testimonial Section
    8.0 Subscribe Section
    9.0 Blog Section
    10.0 Contact Section
    11.0 Footer Section
    12.0 Scroll to Top
    
    ==========================================================================
    Marvel
    ========================================================================== */

	@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Roboto');
	
/*  ==========================================================================
    Common Styles
    ========================================================================== */
*{
	padding: 0;
	margin: 0;
}
body{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #555;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display', sans-serif;
    -webkit-font-smoothing:antialiased;
	color: #333;
}
h1{
    font-size: 52px;
    font-weight: 800;
    line-height: 1.1;
    margin: 0 0 10px;
    letter-spacing: -0.07em;
}
h2{
    font-size: 24px;
    color: #303133;
    margin: 0 0 8px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -0.04em;
}
h3,h4{
    margin: 0 0 10px;
    font-weight: 600;
    line-height: 1.4;
    color: #303133;
    letter-spacing: -0.01em;
}
h3{
    font-size: 17px;
}
h4{
    font-size: 15px;
}
h5,h6{
    font-size: 14px;
    margin: 0 0 10px;
}
img{
    border: none;
    outline:none;
}
ul{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.hero_section .hero_content span{
    letter-spacing: -2px;
}
p, li, a, span{}
p{
    font-size: 14px;
    margin-bottom: 15px;
}
a, a:hover{
    text-decoration: none;
}
a:focus{
    outline: 0;
    text-decoration: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
   color: #999 !important;
}

input:-moz-placeholder,
textarea:-moz-placeholder{ /* Firefox 18- */
   color: #999 !important;  
}

input::-moz-placeholder,
textarea::-moz-placeholder{  /* Firefox 19+ */
   color: #999 !important;  
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder{  
   color: #999 !important;  
}
button{
    border: none;
	background: none;
}
/* Helper Class */
.padding{
    padding: 80px 0;
}
.no-padding{
    padding: 0;
}
.mb-15{ margin-bottom: 15px; }
.mb-20{ margin-bottom: 20px; }
.mb-25{ margin-bottom: 25px; }
.mb-30{ margin-bottom: 30px; }
.mb-35{ margin-bottom: 35px; }
.mb-40{ margin-bottom: 40px; }
.mb-45{ margin-bottom: 45px; }
.mb-50{ margin-bottom: 50px; }
.fz-28{ font-size: 28px; }
.fz-24{ font-size: 24px; }
.fz-22{ font-size: 22px; }
.fz-20{ font-size: 20px; }
.fz-18{ font-size: 18px; }
.fz-16{ font-size: 16px; }
.text-black{
    color: #282828;
}
.text-white{
    color: #ffffff;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}
.fl-right{
    float: right;
}
.fl-left{
    float: left;
}
.display-table{
    width: 100%;
    height: 100%;
    display: table;
}
.table-cell{
    display: table-cell;
    vertical-align: middle;
}
.container{
    height: 100%;
}
.overlay{
    width: 100%;
    position: relative;
    z-index: 1;
}
.overlay:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

/* Preloader Styles */
#preloader{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #fff;
    height: 100%;
    width: 100%;
    -webkit-transition: all .5s .5s ease;
    -moz-transition: all .5s .5s ease;
    transition: all .5s .2s ease;
}
.loader{
    position:absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 60px;
    height: 60px;
    display: block;
    margin: auto;
    margin-top: -30px;
}
body.loaded #preloader{
    opacity: 0;
    visibility: hidden;
}

/* Button Style */
.btn_group{}
.btn_group a{
    margin: 5px;
}
.marvel_btn{
    background-color: #111;
    border: 1px solid #111;
    font-size: 12px;
    color: #fff;
    line-height: 45px;
    display: inline-block;
    padding: 0 25px;
}
.marvel_btn:hover{
    background-color: transparent;
    color: #666;
}

/* Transition Effect */
a,a:hover, .overlay, img, .form-control,  .form-control:hover, button{
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/* ==========================================================================
   Header Section
   ========================================================================== */
.header_section{
    background-color: transparent;
    width: 100%;
    height: 80px;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px 0;
}

.navbar-fixed-top.header_section{
    height: 60px;
    background-color: #111;
    border-bottom: 0;
    padding: 0;
}
.navbar-fixed-top ul.nav > li > a{
    color: #ddd;
}
.navbar-fixed-top ul.nav > li > a:hover,
.navbar-fixed-top ul.nav > li > a:focus,
.navbar-fixed-top ul.nav > li.active > a{
    color: #fff;
}
.logo-light,
.navbar-fixed-top .logo-light,
.logo-dark,
.navbar-fixed-top .logo-dark,
.navbar-fixed-top.header_section,
.header_section{
    transition: all 0.3s ease-in-out;
}
.navbar{
    border: medium none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin: 0;
    position: relative;
}
.navbar-header {
    padding: 17px 0;
}
.navbar-header .brand{
    font-size: 25px;
    color: #282828;
    font-family: 'Playfair Display', sans-serif;
    letter-spacing: -1px;
    font-weight: 600;
	margin-left: 13px;
}
.navbar-header .nav-btn{
    padding: 8px;
    border-radius: 1px;
}
.navbar-header .nav-btn .icon-bar{
    background-color: #fff;
    width: 18px;
}
.navbar-fixed-top .navbar-header .nav-btn .icon-bar{
    background-color: #777;
}
.navbar-header .nav-btn:hover,
.navbar-header .nav-btn:focus{
    opacity: 0.8;
}

/* Nav Menu */
#navbar{
    z-index: 999;
    padding: 0 15px;
}
ul.nav{}
ul.nav > li{}
ul.nav > li > a{
    color: #ddd;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 60px;
    opacity: 0.8;
    z-index: 1;
}
ul.nav > li > a:hover,
ul.nav > li > a:focus,
ul.nav > li.active > a{
    background: none;
    color: #fff;
    opacity: 1;
}
/* ==========================================================================
   Hero section
   ========================================================================== */
.hero_section{
    background-image: url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 670px;
    position: relative;
    z-index: 1;

}

.hero_section .hero_content {
    color: #fff;
}
.hero_section .hero_content h1{
    color: #fff;
}
.hero_section .hero_content p{
    font-size: 18px;
    color: #ddd;
}
.hero_section .hero_content .hero_social{
    display: block;
    text-align: center;
    margin-left: -18px;
}
.hero_section .hero_content .hero_social li{
    display: inline-block;
    color: #ddd;
    font-size: 14px;
    margin-left: 20px;
}
.hero_section .hero_content .hero_social i{
    color: #ddd;
}
.hero_section .hero_content .hero_social i:hover{
    color: #fff;
}

/* Down Arrow Animation */
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-20px);}
    60% {-webkit-transform: translateY(-10px);}
}
 
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
    40% {-moz-transform: translateY(-20px);}
    60% {-moz-transform: translateY(-10px);}
}
 
@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
    40% {-o-transform: translateY(-20px);}
    60% {-o-transform: translateY(-10px);}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(-10px);}
}


.down_arrow {
    display: block;
    text-align: center;
    width: 39px;
    height: 26px;
    opacity: 0.8;
    font-size: 25px;
    line-height: 40px;
    position: absolute;
    left: calc(50% - 19.5px);
    bottom: 140px;
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
}  
.down_arrow:hover{
    opacity: 1;
}   

/* ==========================================================================
   About Section
   ========================================================================== */
.about_section{
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
.about_image img{
    width: 100%;
}
.about_content{
    padding-top: 0px;
}
.edu_wrap{
    margin-top: 0px;
}
.about_content h2,
.edu_wrap h2{
    margin-bottom: 20px;
}
.about_content p{}


/* ==========================================================================
   Service Section
   ========================================================================== */
.service-section{
    background-color: #f7f7f7;
    border-bottom: 1px solid #eaeaea;
}
.promo_items .promo_content{
    display: block;
}
.promo_items .promo_content i{
    background-color: #111;
    font-size: 24px;
    color: #ddd;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    line-height: 70px;
    transition: all 0.3s ease-in-out;
}
.promo_items .promo_content:hover i{
    color: #fff;
    border: 1px solid #111;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.promo_items .promo_content h4{
    color: #444;
    margin: 15px 0 0;
}
.promo_items .promo_content p{
    color: #666;
    margin: 0;
}


/* ==========================================================================
   Skill Section
   ========================================================================== */
.skills_section{
    border-bottom: 1px solid #eaeaea;
    position: relative;
}
.skill_img{
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
}
.skill_img img{
    width: 100%;
    height: 100%;
}
.skill_content {
    padding: 118px 50px;
}

.skill_wrap h2{
    margin-bottom: 20px;
}
.skill_content p{}

.skill_wrap {}
.skill_items{}
.skill_items .skill_item{
    margin-bottom: 20px;
    overflow: hidden;
}
.skill_items .skill_item h5{
    font-size: 10px;
    margin: 0 0 7px;
}
.skill_items .skill_item .progress {
    height: 10px;
    background-color: #ddd;
    box-shadow: none;
    margin-bottom: 0;
    overflow: visible;
}
.skill_items .skill_item .progress,
.skill_items .skill_item .progress .progress-bar{
    border-radius: 3px;
}
.skill_items .skill_item .progress .progress-bar{
    line-height: 5px;
    background-color: #111;
    position: relative;
}
.skill_items .skill_item .progress .progress-bar span{
    position: absolute;
    top: -15px;
    right: -15px;
    color: #666;
    font-size: 10px;
    font-weight: 600;
}
.skill_items .skill_item .progress .progress-bar span:before{
    content: '';
    width: 8px;
    height: 8px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: calc(50% - 4px);
    bottom: -4px;
}

/* ==========================================================================
   Portfolio Section
   ========================================================================== */
.portfolio_section{
    border-bottom: 1px solid #eaeaea;
}
.portfolio_section .portfolio_filter{
    display: block;
    text-align: center;
    overflow: hidden;
}
.portfolio_section .portfolio_filter li{
    color: #777;
    display: inline-block;
    text-transform: uppercase;
    margin-left: -4px;
    padding: 10px 15px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.portfolio_section .portfolio_filter li.active{
    color: #282828;
    transition: all 0.5s ease-in-out;
}
.portfolio_section .portfolio_items{}
.portfolio_section .portfolio_items li{
    padding: 5px;
}
.portfolio_section .portfolio_items .portfolio_item{
    position: relative;
    overflow: hidden;
}
.portfolio_section .portfolio_items .portfolio_item img{
    width: 100%;
}
.portfolio_section .portfolio_items .portfolio_item .overlay{
    background-color: #000;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.portfolio_section .portfolio_items .portfolio_item .overlay:before{
    display: none;
}
.portfolio_items .portfolio_item:hover .overlay{
    opacity: 1;
}
.portfolio_items .portfolio_item .overlay a {
    width: 100%;
    height: 100%;
    display: table;
    color: #fff;
}
.portfolio_items .portfolio_item .overlay h4{
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 -3px;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}
.portfolio_items .portfolio_item .overlay span{
    display: block;
    letter-spacing: 1px;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    transition: all 0.3s ease-in-out;
}
.portfolio_items .portfolio_item:hover .overlay span,
.portfolio_items .portfolio_item:hover .overlay h4{
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    animation-delay: 0.2s;
    transition: all 0.6s ease-in-out;
}


/* ==========================================================================
   Testimonial Section
   ========================================================================== */
.testimonial_section{
    background-image: url(../img/testi-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}
.testimonial_items{}
.testimonial_item{
    text-align: center;
}
.testimonial_item figure{
    width: 90px;
    height: 90px;
    padding: 5px;
    margin: 0 auto 15px;
    position: relative;
}
.testimonial_item figure img{
    border-radius: 50px;
    width: 100%;
}
.testimonial_item h4{
    color: #fff;
    font-weight: 600;
    margin: 15px 0 10px;
}
.testimonial_item p{
    color: #fff;
}

.testimonial_items .owl-dots{
    display: block;
    text-align: center;
}
.testimonial_items .owl-dots .owl-dot{
    background-color: transparent;
    border: 3px solid #ddd;
    display: inline-block;
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin: 0 3px;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    transition: all 0.5s ease-in-out;
}
.testimonial_items .owl-dots .owl-dot.active{
    background-color: transparent;
    border: 3px solid #fff;
    transition: all 0.5s ease-in-out;
} 

/* ==========================================================================
   Subscribe Section
   ========================================================================== */
.subscribe_section{
    border-bottom: 1px solid #eaeaea;
}
.subscribe_section h2{
    margin: 0 0 5px;
}
.subscribe_form{
    display: block;
    text-align: center;
    
}
.subscribe_form .form_input{
    border: 1px solid #ddd;
    background: rgba(255,255,255,0.2);
    display: block;
    color: #333;
    font-size: 16px;
    line-height: 60px;
    padding: 0 15px;
    float: left;
    width: 70%;
    outline: none;
}
.subscribe_form .submit{
    background-color: #111;
    text-transform: uppercase;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 62px;
    display: inline-block;
    padding: 0 25px;
    float: left;
    width: 30%;
    margin-left: -2px;
}
.subscribe_form .submit:hover{
    opacity: 0.8;
}

/* ==========================================================================
   Blog Section
   ========================================================================== */
.blog_section{
    background-color: #f7f7f7;
    border-bottom: 1px solid #eaeaea;
}
.blog_section img{
    width: 100%;
}
.blog_post .blog_content{
    border: 1px solid #ddd;
    padding: 15px;
}
.blog_post .blog_content h4{
    text-transform: uppercase;
    margin: 0 0 3px;
}
.blog_post .blog_content .post_meta{
    display: block;
    margin-bottom: 10px;
}
.blog_post .blog_content span a{
    font-size: 12px;
    color: #444;
}
.blog_post .blog_content p{
    margin-bottom: 10px;
}

.blog_post .blog_content a{
    font-size: 15px;
    color: #444;
}
.blog_post .blog_content a:hover{
    text-decoration: underline;
}

/* ==========================================================================
   Contact Section
   ========================================================================== */
.contact_section{}

.contact_section .section_heading h2{}
.contact_section .contact_info{
    color: #444;
}
.contact_section .contact_info i.fa{
    font-size: 18px;
    margin-right: 20px;
}
.footer_form .form-control{
    background-color: #f7f7f7;
    border: 1px solid #999;
    color: #444;
    border-radius: 0;
}
.footer_form input.form-control{
    height: 45px;
    line-height: 45px;
}
.footer_form .form-control:hover{
    opacity: 0.9;
}
#ajax_form .alert{
    display: none;
}
#ajax_form .alert.alert-success,
#ajax_form .alert.alert-danger{
    display: block;
}

  
/* ==========================================================================
   Footer Section
   ========================================================================== */
.footer_section{
    display: block;
    background-color: #111;
    padding: 30px 0;
}
.footer_section .copyright{
    font-size: 12px;
    color: #ddd;
    text-transform: uppercase;
}  
.footer_social{
    display: block;
    text-align: right;
}
.footer_social li{
    display: inline-block;
}
.footer_social li a{
    color: #ddd;
    font-size: 12px;
    margin-left: 20px;
}
.footer_social li a:hover{
    color: #fff;
}

/* ==========================================================================
   Scroll to Top
   ========================================================================== */
#scroll-to-top{
    background-color: #111;
    display: none;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 14px;
    line-height: 35px;
    color: #fff;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
}
#scroll-to-top:hover{
    background-color: #777;
    color: #fff;
}

/* Typed Cursor Style */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


/*.hero_section{
    background: rgba(39,62,84,0.82);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}*/